@page
@using static PokéRepo.Enums.Enum
@model IndexModel
@{
    ViewData["Title"] = "Home page";
}


<h1>Pokémons</h1>

@foreach (Pokemons item in Enum.GetValues(typeof(Pokemons)))
{
    <div>
       <a  asp-page="pokemons"> <h6>@item</h6> </a>

    </div>
}
